.DS_Store
jorge_saldivar.aux
jorge_saldivar.dvi
jorge_saldivar.log
jorge_saldivar.out
jorge_saldivar.synctex.gz
jorgesaldivar_resume.aux
jorgesaldivar_resume.bbl
jorgesaldivar_resume.bcf
jorgesaldivar_resume.blg
jorgesaldivar_resume.log
jorgesaldivar_resume.run.xml
jorgesaldivar_resume.synctex.gz
page1sidebar.log
page2sidebar.log
